.psgallerykey
*.log
*.orig
/.output
/.vscode
/ProGetAutomation/CHANGELOG.md
/ProGetAutomation/LICENSE.txt
/ProGetAutomation/Modules
/ProGetAutomation/NOTICE.txt
/ProGetAutomation/README.md
/PSModules
